/build
.DS_Store
/nori
/warptest
/ext_build
/build_xcode/
/scenes/
/scenes/
/build_vs2015/
/build_vs2013/
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
*.exr
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64
vs2013_x64/
